*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.simples{
    width: 100px;
    height: 100px;
    background-color: red;
    /* transform: translateX(0px);*/
    /* transform: translateY(50px);  */
    /*transform: translate(50px,100px); 50px eixo x, 100px eixo y*/
    margin-left:50%;
    transition-property: transform, background-color;
    transition-duration: 2s,1s;
    /* transition: 0.5s; */
    
}
.simples:hover{
    /* transform:  translateX(150px) rotate(45deg); */
    /* transform:  rotate(45deg) translateX(150px) ; */
    /* transition: 0.5s; */
    transform: scale(2,0.5);
    background-color: yellow;
}