/*  Reset da Página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 50%;/* Largura do container */
    border: 1px solid blue; /* Borda ao redor do conatiner */
    margin:auto;/* centralizado na página */
}
.container img{/* estilizar a imagem que está dentro do container */
    width: 100%;/* 100% da largura da imagem dentro do container*/
}
section{/* estilizando todas as section */
    background-color: beige;/* cor de fundo  */
    height: 100vh;/* altura de 100 viewport*/
}