*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.imagens{
    width: 80%;
    border: 1px solid red;
    margin:auto;
}
.imagens img{
    /*width: 100px; width: 100vw; width: 100%;*/
    width: 100%;
}